@font-face {
  font-family: 'customicons';
  src:
    url('fonts/customicons.ttf?kn3dx6') format('truetype'),
    url('fonts/customicons.woff?kn3dx6') format('woff'),
    url('fonts/customicons.svg?kn3dx6#customicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air:before {
  content: "\e900";
}
.icon-arrows:before {
  content: "\e901";
}
.icon-bolt:before {
  content: "\e902";
}
.icon-circled1:before {
  content: "\e903";
}
.icon-circled2:before {
  content: "\e904";
}
.icon-circled3:before {
  content: "\e905";
}
.icon-circled4:before {
  content: "\e906";
}
.icon-circled5:before {
  content: "\e907";
}
.icon-circledT:before {
  content: "\e908";
}
.icon-crab:before {
  content: "\e909";
}
.icon-crane:before {
  content: "\e90a";
}
.icon-dragon:before {
  content: "\e90b";
}
.icon-earth:before {
  content: "\e90c";
}
.icon-explosiveSuccess:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-fire:before {
  content: "\e90f";
}
.icon-hourglass:before {
  content: "\e910";
}
.icon-infinity:before {
  content: "\e911";
}
.icon-invocation:before {
  content: "\e912";
}
.icon-kata:before {
  content: "\e913";
}
.icon-kih:before {
  content: "\e914";
}
.icon-lion:before {
  content: "\e915";
}
.icon-magnifyingGlass:before {
  content: "\e916";
}
.icon-mah:before {
  content: "\e917";
}
.icon-ninjutsu:before {
  content: "\e918";
}
.icon-opportunity:before {
  content: "\e919";
}
.icon-pentagonFill:before {
  content: "\e91a";
}
.icon-pentagonStroke:before {
  content: "\e91b";
}
.icon-phoenix:before {
  content: "\e91c";
}
.icon-profile:before {
  content: "\e91d";
}
.icon-renew:before {
  content: "\e91e";
}
.icon-rings:before {
  content: "\e91f";
}
.icon-ritual:before {
  content: "\e920";
}
.icon-school:before {
  content: "\e921";
}
.icon-scorpion:before {
  content: "\e922";
}
.icon-scroll:before {
  content: "\e923";
}
.icon-shji:before {
  content: "\e924";
}
.icon-squareFill:before {
  content: "\e925";
}
.icon-squareStroke:before {
  content: "\e926";
}
.icon-strife:before {
  content: "\e927";
}
.icon-study:before {
  content: "\e928";
}
.icon-success:before {
  content: "\e929";
}
.icon-treasure:before {
  content: "\e92a";
}
.icon-unicorn:before {
  content: "\e92b";
}
.icon-void:before {
  content: "\e92c";
}
.icon-water:before {
  content: "\e92d";
}
