@font-face {
  font-family: 'customicons';
  src:
    url('fonts/customicons.ttf?dvzr0h') format('truetype'),
    url('fonts/customicons.woff?dvzr0h') format('woff'),
    url('fonts/customicons.svg?dvzr0h#customicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air:before {
  content: "\e900";
}
.icon-crab:before {
  content: "\e901";
}
.icon-crane:before {
  content: "\e902";
}
.icon-dragon:before {
  content: "\e903";
}
.icon-earth:before {
  content: "\e904";
}
.icon-explosiveSuccess:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e906";
}
.icon-fire:before {
  content: "\e907";
}
.icon-invocation:before {
  content: "\e908";
}
.icon-kata:before {
  content: "\e909";
}
.icon-kih:before {
  content: "\e90a";
}
.icon-lion:before {
  content: "\e90b";
}
.icon-ninjutsu:before {
  content: "\e90c";
}
.icon-opportunity:before {
  content: "\e90d";
}
.icon-pentagon:before {
  content: "\e90e";
}
.icon-phoenix:before {
  content: "\e90f";
}
.icon-quill:before {
  content: "\e910";
}
.icon-ritual:before {
  content: "\e911";
}
.icon-school:before {
  content: "\e912";
}
.icon-scorpion:before {
  content: "\e913";
}
.icon-scroll:before {
  content: "\e914";
}
.icon-shji:before {
  content: "\e915";
}
.icon-square:before {
  content: "\e916";
}
.icon-strife:before {
  content: "\e917";
}
.icon-success:before {
  content: "\e918";
}
.icon-treasure:before {
  content: "\e919";
}
.icon-unicorn:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e91b";
}
.icon-void:before {
  content: "\e91c";
}
.icon-water:before {
  content: "\e91d";
}
